:host::ng-deep {
  background: lightcyan;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    text-align: center;
  }
  button {
    border: none;
    padding: 10px;
    background: deepskyblue;
    border-radius: 15px;
  }
}
