<h1>Dinamic inject components</h1>
<app-container-build [item]="item" *ngFor="let item of list"></app-container-build>

<div style="margin-top:20px; display: flex; justify-content: space-around;">
  <table *ngFor="let item of list">
    <tr>
      <td>Valor</td>
      <td>Valid</td>
    </tr>
    <tr>
      <td>
        {{item?.data?.formControl.value}}<br/>
      </td>
      <td>
        {{item?.data?.formControl.valid}}
      </td>
    </tr>
  </table>
</div>
