:host {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  background: lightgray;
  padding: 10px;
  input {
    padding: 5px;
    border-radius: 15px;
    outline: none;
    box-sizing: content-box;
    border: 3px solid deepskyblue;
  }
  .is-invalid {
    border-color: red;
  }
}
